<!-- code starts here-->

<html>
  <head>
    <title>
        RPS game
      </title>
</head>

  <body class="">
    <!-- <h1 style="text-align:center">Rock Paper Scissors</h1>
    <div class="row justify-content-center wrapper"> 
    <button type="button" [routerLink]="['/game']" class="btn btn-outline-light btn-lg"  >Start</button> <br> <br>
    <button type="button" class="btn btn-outline-light btn-lg">Help</button> -->

    <router-outlet></router-outlet>

  <!-- </div> -->

    </body>

   
  </html>